/* pagina mural */

@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Marcellus SC', serif;
  background-color: #010A13;
}

.label-captura {
  display: flex;
  justify-content: center;
}

.dash-right .avisos {
  width: 100%;
  color: rgb(216, 216, 216);
  font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.dash-right .avisos .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dash-right .avisos .container .div-form {
  width: 95%;
}

.dash-right .avisos .container .div-form #form_postagem {
  width: 95%;
}

.dash-right .avisos .div-form label {
  width: 95%;
}

.dash-right .avisos .div-form input {
  width: 95%;
  border-radius: 5px;
}

.dash-right .avisos .div-form textarea {
  width: 95%;
  border: 3px solid #e6005a;
  background-color: white;
  border-radius: 5px;
}

.dash-right .avisos .div-form button {
  cursor: pointer;
  font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: white;
  background-color: #e6005a;
  width: 120px;
}

.publicacao-btn-editar {
  cursor: pointer;
  font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 14px;
  padding: 5px 8px;
  color: white;
  background-color: #e6005a;
  width: 80px;
}

.publicacao {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  border-bottom: 3px solid #e6005a;
  padding: 20px;
}

.publicacao>*:not(:last-child) {
  padding: 0 0 10px 0;
}

.div-results {
  width: 100%;
}

.div-results .feed-container {
  background-color: #212124;
  border-radius: 5px;
  margin-bottom: 80px;
}

.div-buttons {
  display: flex;
  justify-content: flex-end;
}

.div-buttons>* {
  margin-left: 30px;
}

/* pagina graficos */

.dash-header {
  background-color: #212124;
}

.dash {
  background-color: #161618;
  height: 100vh;
  overflow: auto;
}

.area-parametros-alerta {
  /* border: 2px solid pink; */
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: auto;
  margin-top: 10px;
  background-color: #212124;
}

.area-parametros-alerta .titulo-legenda {
  color: white;
  font-weight: 600;
  width: fit-content;
  margin: 10px 20px;
}

.parametros-alerta {
  display: flex;
  width: 100%;
}

.item-regua {
  width: 20%;
  text-align: center;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
}

.item-regua p {
  margin: 0;
  font-weight: 500;
}

.item-regua p:nth-child(2) {
  font-weight: 800;
}

.perigo-frio {
  background-color: #5c6bc0;
}

.perigo-quente {
  background-color: #ff7043;
}

.alerta-frio {
  background-color: #42a5f5;
}

.alerta-quente {
  background-color: #ffee58;
}

.ideal {
  background-color: #9ccc65;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 450px;
  width: 100%;
  align-items: center;
  color: white;
}

.card-aquario {
  margin: 2%;
  min-width: 40%;
  max-width: 50%;
  width: fit-content;
  flex-wrap: wrap;
  display: flex;
  /* text-align: center; */
  height: 180px;
  /* justify-content: right; */
  background-color: #212124;
  font-size: 20px;
}

.card-aquario h1 {
  width: fit-content;
}

.card-aquario p {
  margin: 0;
  font-size: 50px;
  font-weight: lighter;
  text-align: left;
}

.desc-aquario {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.desc-aquario .cor-alerta {
  width: 30px;
}

.title-aquario {
  width: 100%;
}


.cards h1 {
  font-size: 22px;
  border-bottom: solid white 1px;
  text-align: left;
  font-weight: lighter;
  margin: 20px;
}

.temperatura,
.umidade {
  margin: 5px;
  margin-left: 20px;
  width: 75%;
}

.cor-alerta {
  width: 13%;
  height: 30%;
  border-radius: 50%;
  display: inline-block;
}

.graph {
  width: 70%;
  margin: auto;
  padding-top: 10px;
}

.tituloGraficos {
  color: rgb(216, 216, 216);
  display: flex;
  justify-content: center;
}

.btn-chart {
  font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border: 0;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: #e6005a;
  background-color: white;
  margin: 5px;
  border-radius: 3px;
  cursor: pointer
}

.btn-pink {
  color: white;
  background-color: #e6005a;
}

.btn-white {
  color: #e6005a;
  background-color: white;

}

.label-captura {
  height: 80px;
}

.display-none {
  display: none;
}

.display-flex {
  display: flex;
}

.display-block {
  display: block;
}

canvas {
  width: 100% !important;
  height: 100% !important;
}

/* PAGINA DOS GRÁFICOS 2023 */

.janela {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 25px;
}

.header-left a {
  text-decoration: none;
  color: #e2b249;
}

.header-left {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 0px 0px 5px rgb(226, 178, 73);
  background-color: #212124;
  padding: 0px 3%;
}

.dash-right {
  display: flex;
  width: 70%;
  height: fit-content;
  background-color: #161618;
  position: relative;
  top: 0;
  left: 25%;
  height: 100vh;
  overflow: auto;
}

.header-left h1 {
  color: #32b9cd;
}

.usuario {
  margin-right: 30px;
}

.hello {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.hello img {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  border: 2px solid rgb(121, 93, 32);
  box-shadow: 0px 0px 10px black;
}

.hello h3 {
  color: #e3b062;
  font-weight: 300;
  font-size: 1.2rem;
  margin-bottom: 0;
}

.hello h3 span {
  font-weight: 800;
}

.btn-nav {
  width: 100px;
  color: #e2b249;
  background-color: rgb(30, 35, 40);
  border: 3px solid rgb(121,93,32);
  text-align: center;
  padding: 10px;
  margin-right: 20px;
}

.btn-nav h3,
.btn-logout h3 {
  margin: 0;
  padding: 0;
}

.btn-logout {
  margin: 0;
  background-color: #010A13;
  color: #C8AA6E;
  border: 3px solid #C8AA6E;
  text-align: center;
  padding: 10px 15px;
  cursor: pointer;
  width: fit-content;
  margin-left: 10px;
}

.conteudo_pos-cadastro {
  margin-top: 4%;
  display: flex;
  flex-direction: row;
  height: 100%;
}

.conteudo_pos-cadastro .linha {
  border: 1px solid #e2b249;
  box-shadow: 0px 0px 5px #e2b249;
}

.index-cadastro1 {
  width: 60%;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.index-cadastro2 {
  width: 40%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.conteudo_pos-cadastro h2,h4 {
  text-align: center;
  text-shadow: 0px 0px 10px #e2b14955;
}

.texto-pos-cadastro {
  padding: 0px 30px;
  text-align: justify;
  font-size: 20px;
  text-shadow: 0px 0px 10px #e2b14924;
}


/* GRÁFICO DOS RANKINGS */

.ranking {
  padding: 30px;
  height: 200px;
  width: fit-content;
}

.ranking-display {
  display: flex;
  justify-content: space-evenly;
}

/* PERFIL */

.fundo_perfil {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: rgb(2, 14, 23);
  width: 64%;
  box-shadow: 0px 0px 25px #e2b14920;
}

.fundo-do-fundo {
  display: flex;
  justify-content: center;
  background-color: #010A13;
}

.informacoes-pessoais {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.informacoes-pessoais h1 {
  margin: 0;
  margin-bottom: 10px;
}

.info-pessoal {
  display: flex;
  flex-direction: column;
}

.info-pessoal h2{
  margin: 3px 0px;
}

.conteudo-perfil {
  color: #A09B8C;
}

.ranking-display .linha {
  border: 1px solid #e2b249;
  box-shadow: 0px 0px 5px #e2b249;
}

.tutorial {
  background-color: white;
  height: 100vh;
  width: 100vw;
  opacity: 0.;
  background-image: url(imagens/lane.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.como-jogar {
  display: flex;
  justify-content: center;
  height: 100%;
}

.how-to-play {
    display: flex;
    justify-content: center;
    height: 100%;
    flex-direction: column;
}

.caixa-tutorial {
  padding: 15px;
  border: 3px solid rgb(121, 93, 32);
  background: rgb(2, 14, 23);
  color: #cbbe8f;
  font-size: 25px;
  box-shadow: 0px 0px 15px rgb(2, 14, 23);
}

.caixa-tutorial h1{
  margin: 0px;
  text-align: center;
}

.caixa-tutorial ul{
  list-style: none;
  padding: 0;
  height: fit-content;
  width: fit-content;
  font-weight: bold;
  display: flex;
  margin: 10px;
  width: 920px;
  justify-content: space-between;
}

.tecla-frase {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.teclas {
  border: 3px solid rgb(121, 93, 32);
  background-color: rgb(30, 35, 40);
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  margin: 0px 10px 10px 0px;
  color: #cbbe8f;
}

.abaixo-tutorial {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 40px;
}

.voltar-comecar {
  justify-content: center;
  display: flex;
  align-items: center;
  width: 200px;
  height: 50px;
  border: 3px solid rgb(121, 93, 32);
  background-color: rgb(2, 14, 23);
  font-size: 25px;
  font-weight: bold;
  box-shadow: 0px 0px 5px rgb(2, 14, 23);
}

.voltar-comecar a{
  text-decoration: none;
  color: #cbbe8f;
}

.voltar-comecar:hover {
  background-color: rgba(2, 14, 23, 0.804);
  box-shadow: 0px 0px 5px #e2b1495e;
}
