@import url("https://fonts.googleapis.com/css?family=Marcellus+SC");

body {
  margin: 0;
  padding: 0;
  font-family: 'Marcellus SC', serif;
  color: rgb(240, 230, 210);
  background-color: rgb(2, 14, 23);
  cursor: url(imagens/cursor.png), auto;
}
/*background-color: #020B10*/
:root {
  --tamanho-header: 80px;
  --tamanho-banner: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-simulador: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-login: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-footer: 65px;
}

.agora {
  font-weight: 800;
}

.destaque {
  color: #0397AB;
  text-shadow: 0px 0px 2px black;
}

.navbar {
  font-size: 22px;
  border-bottom: 2px solid #e2b249;
  position: sticky;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navbar .container {
  height: 100px;
  background-color: rgb(2, 14, 23);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo {
  width: 100px;
  margin-left: 100px;
}

.logo img {
  width: 185px;
  height: 100px;
}

.nav {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.nav ul{
  list-style: none;
  display: flex;
  width: 450px;
  justify-content: space-around;
  padding: 0;
}

.rotacao {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: width 2s, height 2s, transform 1s;
}

.rotacao:hover {
  font-size: 25px;
  transform: rotate(10deg);
}

.nav a {
  text-decoration: none;
  color: rgb(226, 178, 73);
  text-shadow: 0px 0px 10px rgba(226, 178, 73, 0.715);
  cursor: url(imagens/cursor.png), auto;
}

.nav a:hover {
  text-shadow: 0px 0px 5px black;
}

.projeto {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.projeto h1 {
  width: fit-content;
  text-shadow: 0px 0px 5px #005A82;
  box-shadow: 0 8px 6px -6px #005A82;
  font-size: 45px;
}

.objetivo_aprendizado {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  
}

.caixas_projeto_titulo h3{
  margin-bottom: 20px;
  font-size: 35px;
}

.caixas_projeto {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 420px;
  height: 420px;
  margin-bottom: 50px;
  background-image: url(https://images.contentstack.io/v3/assets/blt731acb42bb3d1659/blt91649ca14bb231a9/5e1f896a522857549a291778/prestige_border.png?quality=80);
  background-repeat: no-repeat;
  background-size: contain;
}

.caixas_projeto p {
  align-items: stretch;
  font-size: 18px;
  width: 220px;
  padding: 10px;
}

.banner .metade {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: rgb(2, 14, 23);
  font-size: 30px;
  padding: 0px 20px;
  box-shadow: 0px 0px 10px rgba(226, 177, 73, 0.584);
}

.banner {
  height: fit-content;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: row-reverse;
  border-bottom: 2px solid #e2b249;
  border-top: 2px solid #e2b249;
}

.banner img {
  width: 100%;
  height: 100%;
}

.banner .titulo {
  border-left: 2px solid #e2b249;
  box-shadow: 0px 0px 10px rgba(226, 177, 73, 0.584);
}

.sobre {
  box-shadow: 0px 0px 25px #e2b249;
  background-color: rgb(2, 14, 23);
}

.conteudo .metade {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: rgb(2, 14, 23);
  font-size: 30px;
  padding: 0px 20px 50px 20px;

}

.titulos {
  display: flex;
  justify-content: space-between;
}

.titulos .t1 {
  margin-left: 65px;
}

.titulos .t2 {
  margin-right: 160px;
}

.conteudo {
  display: flex;
}

.conteudo .metade {
  font-size: 1em;
}

.conteudo img {
  height: 350px;
  width: 350px;
  border: 3px solid rgb(121, 93, 32);
  box-shadow: 0px 0px 5px black;
  border-radius: 10px;
}

.mapa_home {
  margin: 0px 20px;
}

.separado {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.separado p {
  width: 600px;
  font-size: 22px;
}

.separado ul {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
}

.gameplay-geral {
  align-items: center;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.gameplay{
  display: flex;
  flex-direction: column;
  height: fit-content;
}

.gameplay .p1{
  padding: 15px 15px 15px 0px;
}

.gameplay-geral .linha {
  height: 100%;
  border: 1px solid #e2b249;
  box-shadow: 0px 0px 5px #e2b249;
}

.gameplay p{
  margin: 0;
  padding: 0px 15px 0px 0px;
}

.lanes {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.lanes .titulo {
  display: flex;
  width: 100%;
  justify-content: center;
}

.lanes h2 {
  margin:0px;
  width: 250px;
  text-align: center;
}

#rotas {
  display: flex;
  flex-direction: row;
  justify-content: end;
  width: fit-content;
  margin-left: 25px;
  height: 100%;
}

#rotas li{
  border: 2px solid rgb(121, 93, 32);
  background-color: rgb(30, 35, 40);
  padding: 5px;
}

#rotas li:hover {
  background-color: linear-gradient(to bottom, #795d20 0, #1e2328 100%);
}

.separado button {
  font-size: 15px;
  background: none;
  border: none;
  font-family: 'Marcellus SC', serif;
  color: rgb(226, 178, 73);
  text-shadow: 0px 0px 10px rgba(226, 178, 73, 0.715);
  cursor: url(imagens/cursor.png), auto;
}

#apareceu_lanes {
  display: flex;
  align-items: center;
  width: 280px;
}

.apareceu p{
  font-size: 21px;
  width: fit-content;
}

.introducao {
  display: flex;
  flex-direction: column;
}

.novo_jogador {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.novo_jogador h1{
  text-align: center;
}

.novo_jogador p {
  text-align: center;
  width: 60%;
  margin-top: 0;
  font-size: 20px;
}

.ranques {
  margin-top: 10px;
  width: 45%;
  border: 2px solid #795d20;
  box-shadow: 0px 0px 5px #005A82;
  background: url(https://assets.contentstack.io/v3/assets/blt2ac872571a60ee02/blt7a72b1686eb3219a/618d75137ae6ce6fab413b1f/background-video-d-02.mp4);
}
/*background-image: linear-gradient(rgb(1, 10, 19), rgba(1, 10, 19, 0) 40%, rgba(1, 10, 19, 0) 60%, rgb(1, 10, 19));*/
.elos {
  display: flex;
  justify-content: start;
}

.ranques .titulo {
  display: flex;
  justify-content: center;
}

.ranques h4 {
  text-align: center;
  width: 520px;
  font-size: 20px;
  color: #e2b249;
}

.elos ul{
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  width: 100%;
  padding: 0;
  font-size: 25px;
  margin-top: 0;
}

.elos ul li {
  -webkit-box-shadow: 0 6px 6px -6px #e2b249;
  -moz-box-shadow: 0 6px 6px -6px #e2b249;
  box-shadow: 0 6px 6px -6px #e2b249;

}

.elos a {
  margin-right: 20px;
}

.challenger {
  font-weight: bold;
  background: linear-gradient(to right, #76afff, #dfe249);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.238);
}

.estrutura {
  display: flex;
  flex-direction: column;
}

.div_estrutura {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.estrutura_selva {
  margin-top: 50px;
  display: flex;
}

.estrutura_selva h1{
  letter-spacing: 2px;
  margin: 0;
  font-size: 45px;
}

.estrutura h1 {
  color: #3C3C41;
  text-shadow: 0px 0px 5px rgb(60, 60, 65, 0.512);
}

.selva h1 {
  color: rgb(39, 92, 51);
  text-shadow: 0px 0px 5px rgba(39, 92, 51, 0.512);
}

.estrutura {
  width: 50%;
  text-align: center;
}

.estrutura p {
  font-size: 20px;
  width: 650px;
  margin-bottom: 0;
}

.p_estrutura {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  
}

/* LINHA */

.estrutura_selva .linha {
  border: 1px solid #e2b249;
  box-shadow: 0px 0px 5px #e2b249;
}

/* ESTRUTURAS IMG */

.torre_inibidor {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 50%;
  width: 100%;
  align-items: end;
}

.torre_inibidor h2 {
  font-size: 40px;
  letter-spacing: 2px;
}

.torre_inibidor img{
  height: 230px;
  width: 230px;
  border: 2px solid #795d20;
}

.nexus h2{
  font-size: 40px;
  letter-spacing: 2px;
  text-shadow: 0px 0px 5px #11BCF2;
}

/*SELVA*/

.selva {
  width: 50%;
  text-align: center;
}

.selva p {
  font-size: 20px;
  width: 650px;
}

.p_selva {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.monstros {
  display: flex;
  justify-content: space-evenly;
}

.monstros_sub {
  display: flex;
  flex-direction: column;
}

.monstros_sub span {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgb(2, 14, 23);
  color: rgb(240, 230, 210);
  border: 2px solid #795d20;
  box-shadow: 0px 0px 5px rgba(226, 177, 73, 0.448);
  cursor: url(imagens/cursor.png), auto;
  font-size: 30px;
  width: 180px;
  height: 150px;
  margin: 10px 0px 20px 0px;
  transition: 0.4s ease-out;
}

/* MONSTROS IMAGENS */

#mostrar_krugue:hover, #mostrar_red:hover, #mostrar_acuamina:hover, #mostrar_lobos:hover, #mostrar_blue:hover, #mostrar_grompe:hover, #mostrar_aronguejo:hover, #mostrar_dragao:hover, #mostrar_barao:hover {
  font-size: 0;
  background-size: contain; 
  background-repeat: no-repeat; 
  background-position: center; 
  background-color: #1e2328;
}

#mostrar_krugue:hover {
  background-image: url(imagens/krugues.jpg); 
}

#mostrar_red:hover {
  background-image: url(imagens/red.jpg); 

}

#mostrar_acuamina:hover {
  background-image: url(imagens/acuaminas.jpg); 

}

#mostrar_lobos:hover {
  background-image: url(imagens/lobos.jpg); 

}

#mostrar_blue:hover {
  background-image: url(imagens/blue.jpg); 

}

#mostrar_grompe:hover {
  background-image: url(imagens/grompe.jpg); 

}

#mostrar_aronguejo:hover {
  background-image: url(imagens/aronguejo.jpg); 

}

#mostrar_dragao:hover {
  background-image: url(imagens/dragao.jpg); 

}

#mostrar_barao:hover {
  background-image: url(imagens/barão-nashor.jpg); 

}

.valores .conteudo {
  flex-direction: column;
  text-align: center;
} 

/* FOOTER */

.footer {
  background-color: #e2b249;
  height: fit-content;
  color: #091428;
  display: flex;
  font-size: 15px;
  justify-content: center;
}

.footer .container {
  justify-content: center;
  text-align: center;
}

.footer .container h4 {
  margin: 13px 0px;
}

/* LOGIN */

.login {
  height: var(--tamanho-login);
  background-size: cover;
}

.login .container {
  justify-content: center;
  align-items: center;
  height: 90%;
}

.card {
  width: 50%;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: rgb(200, 170, 111);
  text-shadow: 0px 0px 5px rgba(120, 91, 40, 0.578);
  flex-direction: column;
  height: fit-content;
}

.card h2 {
  font-size: 30px;
}

.card-cadastro .formulario {
  display: flex;
  flex-direction: row;
}

.formulario {
  display: flex;
  flex-direction: row;
  height: 90%;
  width: 100%;
  justify-content: space-around;
}

.formulario span {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
  width: 250px;
}

.formulario input {
  color: rgb(240, 230, 210);
  background-color: rgb(30, 35, 40);
  border: 3px solid rgb(121,93,32);
  box-shadow: 0px 0px 5px black;
  text-align: center;
  border-radius: 0px;
  margin: 0;
  text-decoration: none;
  outline: none;
}

.formulario select {
  border: 3px solid rgb(121,93,32);
  background-color: white;
  color: gray;
  height: 36px;
  text-align: center;
  border-radius: 10px;
  margin: 0;
}

.campo {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 5px 0;
}

.botao {
  font-family: 'Marcellus SC', serif;
  font-weight: bold;
  font-size: 30px;
  color: #cbbe8f;
  background-color: rgb(30, 35, 40);
  border: 3px solid rgb(121,93,32);
  box-shadow: 0px 0px 5px black;
  width: fit-content;
  height: fit-content;
  align-self: center;
  margin-top: 50px;
  padding: 10px 30px;
}

.botao:hover {
  cursor: url(imagens/cursor.png), auto;
  background: rgba(206, 177, 114, 0.174);
  box-shadow: 0 0px 3px 1px rgba(255,255,255, .2), 0 0px 10px 1px rgba(186, 157, 84, 0.255), 0 0px 3px 1px rgba(0,0,0,1);
}

.loading-div {
  width: 50px;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}

#div_erros_login {
  display: none
}

/* FORMULARIO */

.alerta_erro {
  display: flex;
  justify-content: flex-end;
}

.erro {
  display: flex;
  flex-direction: column;
}

.card_erro {
  display: none;
  text-align: center;
  text-shadow: 0px 0px 5px #CDFAFA;
  color: #CDFAFA;
  width: 230px;
  position: fixed;
  
  padding: 10px;
  margin: 10% 10% 0 0;
}

#erro_imagem img{
  height: 50px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: contain;
}

.card_erro #mensagem_erro {
  font-weight: 500;
  font-size: 25px;
}

.formulario .tipo_campo {
  font-size: 20px;
  font-weight: 600 !important;
}

input {
  padding: 10px;
}

.btn {
  font-family: "Barlow", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: white;
  background-color: #e6005a;
  width: 120px;
  align-self: center;
  margin-top: 5px;
}

.loading-div {
  width: 50px;
  margin: auto;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}

/* SIMULADOR */

.simulador {
  color: white;
}

.simulador .container {
  flex-direction: column;
  overflow: scroll;
  height: var(--tamanho-simulador);
}

/* ALERTA */

#alerta {
  position: absolute;
  right: 0;
  bottom: 0;
}

.mensagem-alarme {
  background-color: white;
  border-radius: 5px;
  width: 300px;
  height: 80px;
  margin: 10px;
  padding: 10px 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.mensagem-alarme h3 {
  font-size: 14px;
  margin: 0;
}

.mensagem-alarme .informacao {
  width: 66%;
}

.alarme-sino {
  width: 48px;
  height: 48px;
  animation-name: bell;animation-duration: 4s;
  background-image: url('https://cdn-icons-png.flaticon.com/512/1157/1157000.png');
  background-size: cor;
  animation-iteration-count: infinite;
}

@keyframes bell {
  0% {
    transform: rotate(25deg)
  }

  25% {
    transform: rotate(-25deg)
  }

  50% {
    transform: rotate(25deg)
  }

  75% {
    transform: rotate(-25deg)
  }

  100% {
    transform: rotate(25deg)
  }
}

/* QUIZ */

.fundo_quiz {
  display: flex;
  justify-content: center;
}

.conteudo_quiz {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 900px;
  background-color: #010A13;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.588);
}

.conteudo_quiz h1 {
  font-size: 3em;
  width: 560px;
  margin: 50px 0px;
}

.titulo_quiz {
  text-align: center;
}

.caixa {
  margin-bottom: 50px;
}

.quiz {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: #cbbe8f;
  background-color: rgb(30, 35, 40);
  border: 3px solid rgb(121, 93, 32);
  box-shadow: 0px 0px 5px black;
  width: 600px;
  padding: 20px;
}

.quiz h2 {
  text-align: center;
  margin: 0;
  color: #C89B3C;
  text-shadow: 0px 0px 2px #C89B3C;
}

.quiz span {
  margin-bottom: 10px;
}

.mapa {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.quiz img {
  height: 300px;
  width: 300px;
  border: 3px solid rgb(121, 93, 32);
  box-shadow: 0px 0px 5px black;
}

.conteudo_quiz .botao {
  margin: 0;
}

.conteudo_quiz #div_mensagem {
  font-size: 20px;
  text-align: center;
  height: 10px;
  height: fit-content;
  width: fit-content;
} 

.div_mensagem_escondida {
  height: 100%;
  width: 100%;
  padding-left: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.resposta_quiz {
  display: flex;
  flex-direction: row;
  width: 71%;
  justify-content: space-around;
  margin-bottom: 50px;
}

/* MINIGAME */

#fundo {
  height: 100vh;
  background-color: #010A13;
}

#div_campeao {
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  position: absolute;
  background-color: white;
  border: 2px solid black;
  background-image: url(imagens/yasuo.jpeg);
  background-size: cover;
  transition: 0.1s linear;
} 

.minion {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#div_minion {
  width: 100px;
  height: 100px;
  position: absolute;
  background-image: url(imagens/Minion.webp);
  background-size: cover;
  transition: 0.1s linear;
}

#vida_minion {
  position: absolute;
  border: 3px solid #010A13;
  background-color: red;
  height: 10px;
  transition: 0.1s linear;  
}

.minigame {
  display: flex;
  flex-direction: row;
  background-image: url(imagens/lane.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  justify-content: flex-end;
}

.torre {
  display: flex;
  flex-direction: column-reverse;
  background-image: url(imagens/torre);
  background-repeat: no-repeat;
}

.torre img {
  width: 300px;
  height: 98%;
}

.minigame #vida_torre {
  height: 15px;
  background-color: red;
  border: 3px solid #010A13;
}

#div_derrota{
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 20%;
}

#div_derrota img {
  width: 65%;
  height: 80%;
}

#div_derrota .botao {
  margin-top: 0;
  width: 300px;
}

#div_derrota .botao:hover {
  transition: 1s ease;
  width: 310px;
  height: 75px;
  background-color: #010A13;
  box-shadow: 0px 0px 10px #010A13;
  
}

#encerrar {
  position: fixed;
  top: 0px; 
  left: 0px;
  margin-left: 50px;
}