@import url("https://fonts.googleapis.com/css?family=Marcellus+SC");

body {
  margin: 0;
  padding: 0;
  font-family: 'Marcellus SC', serif;
  color: rgb(240, 230, 210);
  background-color: #091428;
}

:root {
  --tamanho-header: 80px;
  --tamanho-banner: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-simulador: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-login: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-footer: 65px;
}

.navbar {
  font-size: 22px;
  border-bottom: 2px solid #e2b249;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navbar .container {
  height: 100px;
  background-color:#091428;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo {
  width: 100px;
  margin-left: 100px;
}

.logo img {
  width: 185px;
  height: 100px;
}

.nav {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.nav ul{
  list-style: none;
  display: flex;
  width: 450px;
  justify-content: space-around;
  padding: 0;
}

a {
  text-decoration: none;
  color: rgb(226, 178, 73);
  text-shadow: 0px 0px 10px rgba(226, 178, 73, 0.715);
}

.banner {
  height: fit-content;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: row-reverse;
  border-bottom: 2px solid #e2b249;
}

.banner img {
  width: 100%;
  height: 100%;
}

.metade {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: #091428;
  font-size: 30px;
  padding: 0px 20px;
  box-shadow: 0px 0px 10px rgba(226, 177, 73, 0.584);
}

.banner .titulo {
  border-left: 2px solid #e2b249;
  box-shadow: 0px 0px 10px rgba(226, 177, 73, 0.584);
}

.sobre {
  box-shadow: 0px 0px 25px #e2b249;
  background-color: #091428;
}

.conteudo {
  display: flex;
}

.conteudo .metade {
  font-size: 1em;
}

.conteudo img {
  height: 400px;
  width: 400px;
  box-shadow: 0px 0px 5px black;
  border-radius: 10px;
}

.separado {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.separado p {
  width: 600px;
}

.separado ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
}

.separado button {
  background: none;
  border: none;
  font-family: 'Marcellus SC', serif;
  color: rgb(226, 178, 73);
  text-shadow: 0px 0px 10px rgba(226, 178, 73, 0.715);
  cursor: pointer;
}

.agora {
  font-weight: 800;
}

/* MISSÃO VISÃO VALORES */

.social {
  background-color: #e5e5e5;
  display: flex;
}

.social .container {
  justify-content: center;
}

.box img {
  width: 170px;
}

.social .container .boxes {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 30px 0;
}

.social p {
  text-align: center;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* FOOTER */

.footer {
  background-color: #e2b249;
  height: fit-content;
  color: #091428;
  display: flex;
  font-size: 15px;
  justify-content: center;
}

.footer .container {
  justify-content: center;
  text-align: center;
}

.footer .container h4 {
  margin: 13px 0px;
}

/* LOGIN */

.login {
  height: var(--tamanho-login);
  background-size: cover;
}

.login .container {
  justify-content: center;
  align-items: center;
  height: 90%;
}

.card {
  width: 50%;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: rgb(200, 170, 111);
  text-shadow: 0px 0px 5px rgba(120, 91, 40, 0.578);
  flex-direction: column;
  height: fit-content;
}

.card h2 {
  font-size: 30px;
}

.card-cadastro .formulario {
  display: flex;
  flex-direction: row;
}

.formulario {
  display: flex;
  flex-direction: row;
  height: 90%;
  width: 100%;
  justify-content: space-around;
}

.formulario span {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
  width: 250px;
}

.formulario input {
  color: rgb(240, 230, 210);
  background-color: rgb(30, 35, 40);
  border: 3px solid rgb(121,93,32);
  box-shadow: 0px 0px 5px black;
  text-align: center;
  border-radius: 0px;
  margin: 0;
  text-decoration: none;
  outline: none;
}

.formulario input:-webkit-autofill {
  background-color: rgb(30, 35, 40);
}

input:autofill {
  background-color: rgb(30, 35, 40);
}

.formulario select {
  border: 3px solid rgb(121,93,32);
  background-color: white;
  color: gray;
  height: 36px;
  text-align: center;
  border-radius: 10px;
  margin: 0;
}

.campo {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 5px 0;
}

.botao {
  font-family: 'Marcellus SC', serif;
  font-weight: bold;
  font-size: 30px;
  color: #cbbe8f;
  background-color: rgb(30, 35, 40);
  border: 3px solid rgb(121,93,32);
  box-shadow: 0px 0px 5px black;
  width: fit-content;
  height: fit-content;
  align-self: center;
  margin-top: 50px;
  padding: 10px 30px;
}

.botao:hover {
  cursor: pointer;
  background: rgba(206, 177, 114, 0.174);
  box-shadow: 0 0px 3px 1px rgba(255,255,255, .2), 0 0px 10px 1px rgba(186, 157, 84, 0.255), 0 0px 3px 1px rgba(0,0,0,1);
}

.loading-div {
  width: 50px;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}

#div_erros_login {
  display: none
}

/* FORMULARIO */

.alerta_erro {
  display: flex;
  justify-content: flex-end;
}

.card_erro {
  display: none;
  background-color: #fff;
  color: black;
  width: 230px;
  position: fixed;
  border-radius: 4px;
  border: #e6005a 3px solid;
  padding: 10px;
  margin-right: 10%;
}

.card_erro #mensagem_erro {
  font-weight: 500;
  font-size: 20px;
}

.formulario .tipo_campo {
  font-size: 20px;
  font-weight: 600 !important;
}

input {
  padding: 10px;
}

.btn {
  font-family: "Barlow", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: white;
  background-color: #e6005a;
  width: 120px;
  align-self: center;
  margin-top: 5px;
}

.loading-div {
  width: 50px;
  margin: auto;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}

/* SIMULADOR */

.simulador {
  color: white;
}

.simulador .container {
  flex-direction: column;
  overflow: scroll;
  height: var(--tamanho-simulador);
}

/* ALERTA */

#alerta {
  position: absolute;
  right: 0;
  bottom: 0;
}

.mensagem-alarme {
  background-color: white;
  border-radius: 5px;
  width: 300px;
  height: 80px;
  margin: 10px;
  padding: 10px 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.mensagem-alarme h3 {
  font-size: 14px;
  margin: 0;
}

.mensagem-alarme .informacao {
  width: 66%;
}

.alarme-sino {
  width: 48px;
  height: 48px;
  animation-name: bell;
  animation-duration: 4s;
  background-image: url('https://cdn-icons-png.flaticon.com/512/1157/1157000.png');
  background-size: cover;
  animation-iteration-count: infinite;
}

@keyframes bell {
  0% {
    transform: rotate(25deg)
  }

  25% {
    transform: rotate(-25deg)
  }

  50% {
    transform: rotate(25deg)
  }

  75% {
    transform: rotate(-25deg)
  }

  100% {
    transform: rotate(25deg)
  }
}

/* QUIZ */

.titulo_quiz {
  text-align: center;
}

.caixa {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.quiz {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: rgb(0, 0, 0);
  width: fit-content;
  padding: 20px;
}

.mapa {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.quiz img {
  height: 300px;
  width: 300px;
}